.app-header-conteiner {
    display: flex;
    justify-content: center;
    background-color: #1976d2;
}

.logo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.logo-picture {
    height: 100px;
}

.logo-maintext {
    display: inline-flex;
    align-items: center;
    margin-bottom: 20px;
}