<table class="app-table-data-base__table">

    <tr>
        <th></th>
        <th class="app-table-data-base__header">Name</th>
        <th class="app-table-data-base__header">Phone</th>
        <th class="app-table-data-base__header">Address</th>
        <th class="app-table-data-base__header">Email</th>
        <th></th>
    </tr>

    <tr class="app-table-data-base__table-row" *ngFor="let item of listClients" [class.app-table-data-base__table-row_selected]="item === selectedClient" (click)="onSelect(item)">
        <td class="app-table-data-base__button-conteiner">
            <div class="app-table-data-base__button-edit" (click)="onEdite(item.getId)">
                <span class="glyphicon glyphicon-edit"></span>
            </div>
        </td>
        <td class="app-table-data-base__table-data">{{item.getName}}</td>
        <td class="app-table-data-base__table-data">{{item.getPhone}}</td>
        <td class="app-table-data-base__table-data">{{item.getAddress}}</td>
        <td class="app-table-data-base__table-data">{{item.getEmail}}</td>
        <td class="app-table-data-base__button-conteiner">
            <div class="app-table-data-base__button-delete" (click)="onDelete(item.getId)">
                <span class="glyphicon glyphicon-remove"></span>
            </div>
        </td>
    </tr>
</table>