div
{
    width:200px;
    height:100px;
    margin:10px;
    background-color:blueviolet;
    float:left; 
    border-radius:10px;
    text-align:center
}

.second
{
    background-color:red;
}

#first
{
    background-color:green;
}

div+div
{
    background-color:burlywood;
}


