html,
body {
    margin: 0;
}

.main {
    margin-left: 5%;
    margin-right: 5%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    font-family: Calibri, sans-serif;
}