.Row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    flex-wrap: wrap;
}
.Row__hole {
    width: 250px;
    height: 430px;
    border: 1px solid white;
    flex-wrap:wrap;
    flex-grow: 1;
}
.Row__hole_veryLightGray{
    background-color:#e4e8e8;
}
.Row__hole_lightGray{
    background-color:#999999;
}
.Row__hole_Gray{
    background-color:#666666;
}
.Row__hole_darkGray{
    background-color:#444444;
}

.blockRow {
    
    text-align:center;
    color: white;
}
.blockRow_ColorBlack {
    color:black;
}
.blockRow__boxSimbol {
    margin-top: 60px;
    margin-left: 40px;
    margin-right: 10%;
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    text-rendering: auto;
    font-size:70px;
}
.blockRow__textHead {
    font-size: 36px;
}
.blockRow__textUnderhead {
    margin-top: 30px;
    margin-left: 40px;
    margin-right: 10%;
    font-size: 21px;
    line-height: 1.5;
}
.blockRow__powerOff:before {
    content: "\f011";
}
.blockRow__flash:before {
    content: "\f0e7";
}
.blockRow__thumbs-up:before {
    content: "\f164";
}
.blockRow__chart:before {
    content: "\f080";
}
