.RowsWhithBlocks{

}


.Row1 {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
    flex-wrap: wrap;
}

.Row1__hole {
    min-height: 300px;
    width: 400px;
    border: 1px solid white;
    background-size: cover;
    flex-grow: 1;
}
.Row1__hole_bgColor_lightGray{
    background-color: #e4e8e8;
}
.Row1__hole_bgColor_Gray {
    background-color: #999999;
}
.Row1__hole_bgColor_darkGray {
    background-color: #666666;
}


.block1Row1 {
    
}
.block2Row1 {
    
}
.block3Row1 {
    
}

.block1Row1__textHead
{
    margin-top:60px;
    margin-left: 40px;
    font-size: 36px;
    color:black;
}
.block2Row1__textHead
{
   margin-top:60px;
    margin-left: 40px;
    font-size: 36px;
    color:white;
}
.block3Row1__textHead
{
    margin-top:60px;
    margin-left: 40px;
    font-size: 36px;
    color:white;
}

.block1Row1__textUnderhead {
    margin-top: 30px;
    margin-left: 40px;
    margin-right: 10%;
    font-size: 21px;
    line-height: 1.5;
    color:black;
}
.block2Row1__textUnderhead {
    margin-top: 30px;
    margin-left: 40px;
    margin-right: 10%;
    font-size: 21px;
    line-height: 1.5;
    color:white;
}
.block3Row1__textUnderhead {
   margin-top: 30px;
    margin-left: 40px;
    margin-right: 10%;
    font-size: 21px;
    line-height: 1.5;
    color:white;
}


.Row2 {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
    flex-wrap: wrap;
}

.Row2__holeLeft {
    width: 400px;
    min-height: 320px;
    border: 1px solid white;
    background-color: #eebbee;
    flex-grow: 1;
}
.Row2__holeRight {
    width: 400px;
    min-height: 320px;
    border: 1px solid white;
    background-color: #92c4f8;
    flex-grow: 1;
}

.LeftColumnRow2 {

}
.RightColumnRow2 {

}

.LeftColumnRow2__textHead {
    margin-top: 60px;
    margin-left: 40px;
    font-size: 36px;
    color: black;
}
.RightColumnRow2__textHead {
    margin-top: 60px;
    margin-left: 40px;
    font-size: 36px;
    color: black;
}

.LeftColumnRow2__textUnderhead {
    margin-top: 30px;
    margin-left: 40px;
    font-size: 21px;
    line-height: 1.5;
    color: black;
}
.RightColumnRow2__textUnderhead {
    margin-top: 30px;
    margin-left: 40px;
    font-size: 21px;
    line-height: 1.5;
    color: black;
}

.LeftColumnRow2__colButton {
    margin-top: 16px;
    margin-left: 40px;
    margin-bottom:20px;
    height: 50px;
    width: 150px;
    text-align: center;
    line-height: 50px;
    border-radius: 5px;
    font-size: 22px;
    border: none;
    outline: none;
    cursor: pointer;
    color: white;
    background-color: #0275D8;
}
.LeftColumnRow2__colButton:hover {
        background-color: #025aa5;
    }
    .LeftColumnRow2__colButton:active {
        background-color: #02447d;
    }

.RightColumnRow2__colButton {
    margin-top: 16px;
    margin-left: 40px;
    margin-bottom:20px;
    height: 50px;
    width: 150px;
    text-align: center;
    line-height: 50px;
    border-radius: 5px;
    font-size: 22px;
    border: none;
    outline: none;
    cursor: pointer;
    color: white;
    background-color: #d9534f;
}
.RightColumnRow2__colButton:hover {
        background-color: #c9302c;
    }
    .RightColumnRow2__colButton:active {
        background-color: #a12926;
    }


.Row3 {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
    flex-wrap: wrap;
    flex-grow: 1;
}

.Row3__hole1 {
    height: 330px;
    width: 300px;
    border: 1px solid white;
    background-color: #aa5522;
    flex-grow: 1;
}
.Row3__hole2 {
    height: 330px;
    width: 300px;
    border: 1px solid white;
    background-color: #2288bb;
    flex-grow: 1;
}
.Row3__hole3 {
    height: 330px;
    width: 300px;
    border: 1px solid white;
    background-color: #449966;
    flex-grow: 1;
}
.Row3__hole4 {
    height: 330px;
    width: 300px;
    border: 1px solid white;
    background-color: #a4a430;
    flex-grow: 1;
}

.block1Row3 {

}
.block2Row3 {

}
.block3Row3 {

}
.block4Row3 {

}

.block1Row3__textHead {
    color:white;
    margin-top:60px;
    margin-left:40px;
    font-size: 36px;
}
.block2Row3__textHead {
    color:white;
    margin-top:60px;
    margin-left:40px;
    font-size: 36px;
}
.block3Row3__textHead {
    color:white;
    margin-top:60px;
    margin-left:40px;
    font-size: 36px;
}
.block4Row3__textHead {
    color:white;
    margin-top:60px;
    margin-left:40px;
    font-size: 36px;
}

.block1Row3__textUnderhead {
    color:white;
    margin-top: 30px;
    margin-left:40px;
    font-size: 21px;
    line-height: 1.5;
}
.block2Row3__textUnderhead {
    color:white;
    margin-top: 30px;
    margin-left:40px;
    font-size: 21px;
    line-height: 1.5;
}
.block3Row3__textUnderhead {
    color:white;
    margin-top: 30px;
    margin-left:40px;
    font-size: 21px;
    line-height: 1.5;
}
.block4Row3__textUnderhead {
    color:white;
    margin-top: 30px;
    margin-left:40px;
    font-size: 21px;
    line-height: 1.5;
}