.forma {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
    flex-wrap: wrap;
    flex-grow: 1;
}

.forma__PersonInfo {
    min-height: 460px;
    width: 400px;
    border: 1px solid white;
    flex-grow: 1;
}

.froma__Subject {
    min-height: 460px;
    width: 400px;
    border: 1px solid white;
    background-size: cover;
    flex-grow: 1;
}

.froma__OurAddress {
    min-height: 460px;
    width: 400px;
    border: 1px solid white;
    background-size: cover;
    flex-grow: 1;
}
.froma__container {
    margin-top: 60px;
    margin-left: 40px;
    margin-right: 10%;
    color:#373a3c;
    
}

.froma__containerTexBox {
    margin-left: 30px;
    margin-right: 5%;
    color: #373a3c;
    font-size: 21px;
    
}
.froma__containerTexBox_lable
{
    margin-top:20px;
}
.froma__conteinerTexBox_input{
    margin-top:15px;
    border-radius:5px;
    border:1px solid #ccc; 
    width:100%;
    height:35px;
    font-size:18px;
    outline:none;   
}

.froma__conteinerTexBox_input:focus{
    border:1px solid #66afe9;
}

.froma__conteinerTexBox_textArea{
    margin-top:15px;
    border-radius:5px;
    border:1px solid #ccc;
    line-height:1.5;
    resize:vertical;
    min-height:137px;
    width:100%;
    height:35px;
    font-family:Calibri;
    font-size:21px;
}

.froma__conteiner_textHead {
    color: #373a3c;
    font-size: 36px;
}
.froma__conteiner_textUnderhead {
    margin-top: 30px;
    font-size: 21px;
    line-height: 1.5;
}
.forma__conteiner_mail{
    margin-top: 30px;
    font-size: 21px;
    line-height: 1.5;
}
.forma__conteiner_phone{
    margin-top: 30px;
    font-size: 21px;
    line-height: 1.5;
}
.form__boxSimbol {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    text-rendering: auto;
    font-size:30px;
    width:55px;
}

.mail:before {
    content: "\f003";
    margin-right:25px;
    color: #373a3c;
}
.phone:before {
    content: "\f095";
    margin-right:25px;
    color: #373a3c; 
}
.froma__containerTexBox_containercheckbox
{
    margin-top:20px;
}
.froma__containerTexBox_button{
    height:55px;
    line-height: 55px;
    width:110px;
    margin-top:15px;
    text-align: center;
    border-radius: 5px;
    color: white;
    background-color: #5cb85c;
    font-size:22px;
    border: none;
    outline: none;
    cursor: pointer;
}
    .froma__containerTexBox_button:hover {
        background-color: #449d44;
    }

    .froma__containerTexBox_button:active {
        background-color: #3b8a3b;
    }