.line5 {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
    flex-wrap: wrap;
    flex-grow: 1;
}

.line5__block1 {
    height: 230px;
    width: 350px;
    border: 1px solid white;
    background-image: url('../image/tm-sigma-01.jpg');
    background-size: cover;
    flex-grow: 1;
}

.line5__block2 {
    height: 230px;
    width: 350px;
    border: 1px solid white;
    background-image: url('../image/tm-sigma-02.jpg');
    background-size: cover;
    flex-grow: 1;
}

.line5__block3 {
    height: 230px;
    width: 350px;
    border: 1px solid white;
    background-image: url('../image/tm-sigma-03.jpg');
    background-size: cover;
    flex-grow: 1;
}

.line5__block4 {
    height: 230px;
    width: 350px;
    border: 1px solid white;
    background-image: url('../image/tm-sigma-04.jpg');
    background-size: cover;
    flex-grow: 1;
}
