.forma {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
    flex-wrap: wrap;
    
}

.forma__holePersonalInfo {
    min-height: 460px;
    width: 400px;
    border: 1px solid white;
    flex-grow: 1;
}

.PersonalInfo {
    color: #373a3c;
    font-size: 21px;
}
.PersonalInfo__lable
{
    margin-left: 15px;
    margin-right: 5%;
    margin-top:20px;
}
.PersonalInfo__TexBoxInput{
    margin-top:15px;
    margin-left: 15px;
    margin-right: 5%;
    border-radius:5px;
    border:1px solid #ccc; 
    height:35px;
    font-size:18px;
    outline:none;  
    width:95%; 
}
.PersonalInfo__TexBoxInput:focus{
    border:1px solid #66afe9;
}

.froma__holeSubject {
    min-height: 460px;
    width: 400px;
    border: 1px solid white;
    background-size: cover;
    flex-grow: 1;
}

.Subject {
    color: #373a3c;
    font-size: 21px;
    
}
.Subject__lable
{
    margin-left: 15px;
    margin-top:20px;
}
.Subject__TextBoxInput{
    margin-left: 15px;
    margin-right: 5%;
    margin-top:15px;
    border-radius:5px;
    border:1px solid #ccc; 
    width:90%;
    height:35px;
    font-size:18px;
    outline:none;   
}
.Subject__TextBoxInput:focus{
    border:1px solid #66afe9;
}
.Subject__TextArea{
    margin-left: 15px;
    margin-right: 5%;
    margin-top:15px;
    border-radius:5px;
    border:1px solid #ccc;
    line-height:1.5;
    resize:vertical;
    min-height:137px;
    width:95%;
    height:35px;
    font-family:Calibri;
    font-size:21px;
}
.Subject__TextArea:focus{
    border:1px solid #66afe9;
}
.Subject__checkboxItems
{
    margin-left: 15px;
    margin-top:20px;
}
.Subject__checkbox{

}
.Subject__checkboxTekst{

}
.Subject__buttonSubmit{
    margin-left: 15px;
    height:55px;
    line-height: 55px;
    width:110px;
    margin-top:15px;
    text-align: center;
    border-radius: 5px;
    color: white;
    background-color: #5cb85c;
    font-size:22px;
    border: none;
    outline: none;
    cursor: pointer;
}
    .Subject__buttonSubmit:hover {
        background-color: #449d44;
    }
    .Subject__buttonSubmit:active {
        background-color: #3b8a3b;
    }

.froma__holeOurAddress {
    min-height: 460px;
    width: 400px;
    border: 1px solid white;
    background-size: cover;
    flex-grow: 1;
}

.OurAddress {
    margin-top: 60px;
    margin-left: 40px;
    margin-right: 10%;
    color:#373a3c;
    
}
.OurAddress__textHead {
    color: #373a3c;
    font-size: 36px;
}
.OurAddress__textUnderhead {
    margin-top: 30px;
    font-size: 21px;
    line-height: 1.5;
}
.OurAddress__mail{
    margin-top: 30px;
    font-size: 21px;
    line-height: 1.5;
}
.OurAddress__phone{
    margin-top: 30px;
    font-size: 21px;
    line-height: 1.5;
}
.OurAddress__boxSimbol {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    text-rendering: auto;
    font-size:30px;
    width:55px;
}
.OurAddress__boxSimbol_Mail:before {
    content: "\f003";
    margin-right:25px;
    color: #373a3c;
}
.OurAddress__boxSimbol_Phone:before {
    content: "\f095";
    margin-right:25px;
    color: #373a3c; 
}
