.line4 {
    height: 430px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: stretch;
    flex-wrap: wrap;
}

.line4__block1 {
    width: 400px;
    border: 1px solid white;
    background-image: url('../image/tm-sigma-07.jpg');
    background-size: cover;
    flex-grow: 1;
}

.line4__block2 {
    width: 400px;
    border: 1px solid white;
    background-image: url('../image/tm-sigma-08.jpg');
    background-size: cover;
    flex-grow: 1;
}