
.UnderLine {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    min-height: 83px;
}

.UnderLine__textLicense {
    color: #373a3c;
    font-size: 16px;
    font-weight: 500;
    width: 66%;
}

.UnderLine__conteinerGoToTop {
    
    text-align: right;
    width: 33%;
}
.UnderLine__GoToTopHref{
    color: #2288bb;
    font-size: 16px;
    font-weight: 500;
    text-decoration:none;
}
.UnderLine_GoToTop_Href:focus, .UnderLine_GoToTop_Href:hover {
    color: #014c8c;
    text-decoration: underline;
}