.Row1 {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
    flex-wrap: wrap;
    flex-grow: 1;
}

.Row1__block1 {
    min-height: 300px;
    width: 400px;
    border: 1px solid white;
    background-color: #e4e8e8;
    flex-grow: 1;
}

.Row1__block2 {
    min-height: 300px;
    width: 400px;
    border: 1px solid white;
    background-color: #999999;
    background-size: cover;
    flex-grow: 1;
}

.Row1__block3 {
    min-height: 300px;
    width: 400px;
    border: 1px solid white;
    background-color: #666666;
    background-size: cover;
    flex-grow: 1;
}
.Row1__container {
    margin-top: 13%;
    margin-left: 40px;
    margin-right: 10%;
}
.Row1__container_textHead {
    font-size: 36px;
    color: white;
}
.Row1__container_textHead--colorBlack
{
    font-size: 36px;
    color:black;
}

.Row1__container_textUnderhead {
    margin-top: 30px;
    font-size: 21px;
    line-height: 1.5;
    color: white;
}
.Row1__container_textUnderhead--colorBlack {
    margin-top: 30px;
    font-size: 21px;
    line-height: 1.5;
    color:black;
}

.Row2 {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
    flex-wrap: wrap;
}
.Row2__block1 {
    width: 400px;
    min-height: 320px;
    border: 1px solid white;
    background-color: #eebbee;
    flex-grow: 1;
}

.Row2__block2 {
    width: 400px;
    min-height: 320px;
    border: 1px solid white;
    background-color: #92c4f8;
    flex-grow: 1;
}
.Row2__container {
    margin-top: 60px;
    margin-left: 40px;
    margin-right: 10%;
    color: white;
}
.Row2__container_textHead {
    font-size: 36px;
    color: black;
}

.Row2__container_textUnderhead {
    margin-top: 30px;
    font-size: 21px;
    line-height: 1.5;
    color: black;
}

.Row2__container_colButton {
    height: 50px;
    width: 150px;
    text-align: center;
    line-height: 50px;
    margin: 12px;
    border-radius: 5px;
    font-size: 22px;
    border: none;
    outline: none;
    cursor: pointer;
    margin-left: 0px;
    color: white;
}
.Row2__container_colButton--colorBlue {
    background-color: #0275D8;
}
.Row2__container_colButton--colorBlue:hover {
        background-color: #025aa5;
    }

    .Row2__container_colButton--colorBlue:active {
        background-color: #02447d;
    }
.Row2__container_colButton--colorRed {
    background-color: #d9534f;
}

    .Row2__container_colButton--colorRed:hover {
        background-color: #c9302c;
    }

    .Row2__container_colButton--colorRed:active {
        background-color: #a12926;
    }
.Row3 {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
    flex-wrap: wrap;
    flex-grow: 1;
}

.Row3__block1 {
    height: 330px;
    width: 300px;
    border: 1px solid white;
    background-color: #aa5522;
    flex-grow: 1;
}

.Row3__block2 {
    height: 330px;
    width: 300px;
    border: 1px solid white;
    background-color: #2288bb;
    flex-grow: 1;
}

.Row3__block3 {
    height: 330px;
    width: 300px;
    border: 1px solid white;
    background-color: #449966;
    flex-grow: 1;
}

.Row3__block4 {
    height: 330px;
    width: 300px;
    border: 1px solid white;
    background-color: #a4a430;
    flex-grow: 1;
}
.Row3__container {
    margin-top: 60px;
    margin-left: 40px;
    margin-right: 10%;
    color: white;
}
.Row3__conteiner_textHead {
    font-size: 36px;
}
.Row3__conteiner_textUnderhead {
    margin-top: 30px;
    font-size: 21px;
    line-height: 1.5;
}
