.line7 {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
    flex-wrap: wrap;
    flex-grow: 1;
}

.line7__block1 {
    min-height: 300px;
    width: 400px;
    border: 1px solid white;
    background-color: #e4e8e8;
    flex-grow: 1;
}

.line7__block2 {
    min-height: 300px;
    width: 400px;
    border: 1px solid white;
    background-color: #999999;
    background-size: cover;
    flex-grow: 1;
}

.line7__block3 {
    min-height: 300px;
    width: 400px;
    border: 1px solid white;
    background-color: #666666;
    background-size: cover;
    flex-grow: 1;
}
.line7__container {
    margin-top: 60px;
    margin-left: 40px;
    margin-right: 10%;
}
.line7__textHead {
    font-size: 36px;
    color: white;
}
.line7__textHead--colorBlack
{
    font-size: 36px;
    color:black;
}

.line7__textUnderhead {
    margin-top: 30px;
    font-size: 21px;
    line-height: 1.5;
    color: white;
}
.line7__textUnderhead--colorBlack {
    margin-top: 30px;
    font-size: 21px;
    line-height: 1.5;
    color:black;
}
