.lineContact {
    min-height: 360px;
}

.lineContact_hole {
    display: flex;
    align-items: center;
    min-height: 360px;
    background-attachment: fixed;
    background-image: url('../image/tm-sigma-00.jpg');
    background-size: cover;
}

.blockContact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow:1;
}
.blockContact_maintext {
    width: 50%;
    text-align:center;
    color: #373a3c;
    font-size: 38px;
    font-weight: 500;
    margin: 0px;
}
.blockContact_discription {
    width: 50%;
    text-align: center;
    font-size: 21px;
    color: #676767;
    line-height: 1.5;
}
.blockContact_href {
    color: #2288bb;
    text-decoration: none;
}
.blockContact_href:hover {
        color: #176992;
        text-decoration: underline;
    }

@media (max-width:1003px) {
    .blockContact_maintext {
        font-size: 30px;
    }

    .blockContact_discription {
        font-size: 18px;
    }
}
@media (max-width:500px) {
    .blockContact_maintext {
        font-size: 26px;
    }

    .blockContact_discription {
        font-size: 16px;
    }
}