.Row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    flex-wrap: wrap;
    flex-grow: 1;
}
.Row__block {
    width: 250px;
    height: 430px;
    border: 1px solid white;
    flex-wrap:wrap;
    flex-grow: 1;
}
.Row__block--color1{
    background-color:#e4e8e8;
}
.Row__block--color2{
    background-color:#999999;
}
.Row__block--color3{
    background-color:#666666;
}
.Row__block--color4{
    background-color:#444444;
}
.Row__container {
    margin-top: 60px;
    margin-left: 40px;
    margin-right: 10%;
    text-align:center;
    color: white;
}
.Row__container--CenterColorBlack {
    color:black;
}
.Row__conteiner_boxSimbol {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    text-rendering: auto;
    font-size:70px;
}
.power-off:before {
    content: "\f011";
}
.Row__conteiner_textHead {
    font-size: 36px;
}
.Row__conteiner_textUnderhead {
    margin-top: 30px;
    font-size: 21px;
    line-height: 1.5;
}
.flash:before {
    content: "\f0e7";
}
.thumbs-up:before {
    content: "\f164";
}
.chart:before {
    content: "\f080";
}
