<!--<button type="" (click) = "Test()">TEST</button>-->
<div *ngIf="toggleForm == 'default'">
    <h3>Form New Client</h3>
    <div class="conteiner-new-client">
        <label for="">Name</label>
        <input type="text" name="name" value="" [(ngModel)]="name">
        <br>
        <label for="">Phone</label>
        <input type="text" name="phone" value="" [(ngModel)]="phone">
        <br>
        <label for="">Adress</label>
        <input type="text" name="address" value="" [(ngModel)]="address">
        <br>
        <label for="">Email</label>
        <input type="text" name="email" value="" [(ngModel)]="email">
        <br>
        <div>
            <button (click)="createClient()">Create Client</button>
            <button (click)="clearForm()">Clear Form</button>
          <!--  <button>TESTFORM</button>-->
        </div>
    </div>
</div>

<div *ngIf="toggleForm == 'edite'">
    <h3>Form Update Client</h3>
    <div class="conteiner-new-client">
        <label for="">Name</label>
        <input #name type="text" name="name" [value]="editeClientForm.getName">
        <br>
        <label for="">Phone</label>
        <input #phone type="text" name="phone" [value]="editeClientForm.getPhone">
        <br>
        <label for="">Adress</label>
        <input #address type="text" name="address" [value]="editeClientForm.getAddress">
        <br>
        <label for="">Email</label>
        <input #email type="text" name="email" [value]="editeClientForm.getEmail">
        <br>
        <div>
            <button (click)="updateClient(name.value, phone.value, address.value, email.value)">Update Clients</button>
            <button (click)="finishEdite()"> Finish editing</button>
        </div>
    </div>
</div>