<h3>Form Add</h3>

<form class="conteiner-new-client">
    <label for="">Name</label>
    <input type="text" name="name" value="" [(ngModel)]="name">
    <br>
    <label for="">Adress</label>
    <input type="text" name="address" value="" [(ngModel)]="address">
    <br>
    <label for="">Phone</label>
    <input type="text" name="phone" value="" [(ngModel)]="phone">
    <br>
    <label for="">Email</label>
    <input type="text" name="email" value="" [(ngModel)]="email">
    <br>
    <button (click)="createClient()">Add Clients</button>
</form>
