.app-form-conteiner-client {
    display: block;
}

.app-form-continer-edite {
    display: block;
}

.form {
    display: flex;
    min-width: 250px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
}

.form-name {
    display: block;
}

.form-lable {
    display: inline-block;
}

.form-input {
    width: 250px;
    height: 30px;
}

.forma-button-conteiner {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.form-button {
    height: 45px;
    line-height: 45px;
    width: 130px;
    margin: 10px;
    text-align: center;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    color: white;
    border: none;
    outline: none;
    cursor: pointer;
}

.form-button--create {
    background-color: green;
}

.form-button--create:hover {
    background-color: #4a8e4a;
}

.form-button--create:active {
    background-color: #2f5e2f;
}

.form-button--clear {
    background-color: #bd362f;
}

.form-button--clear:hover {
    background-color: #ee5f5b;
}

.form-button--clear:active {
    background-color: #802420;
}

.form-button--update {
    background-color: #f89406;
}

.form-button--update:hover {
    background-color: #faa732;
}

.form-button--update:active {
    background-color: #ad6704;
}

.form-button--return {
    background-color: #006dcc;
}

.form-button--return:hover {
    background-color: #0088cc;
}

.form-button--return:active {
    background-color: #0044cc;
}

.form-attention {
    font-size: 10px;
    margin-bottom: -20px;
}

.inValid {
    border: 2px solid red;
}

.valid {
    border: 2px solid green;
}

.hiddenAttention {
    visibility: hidden;
}

.showAttention {
    visibility: visible;
    color: red;
}