.app-client-base-conteiner {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    width: 100%;
}

.app-client-base-conteiner-form {
    margin: 10px 10px 10px 10px;
    border: 3px solid #1976d2;
    border-radius: 5px;
    height: 500px;
    flex-grow: 0.5;
}

.app-client-base-conteiner-table {
    margin: 10px 10px 10px 10px;
    border: 3px solid #1976d2;
    border-radius: 5px;
    height: 500px;
    flex-grow: 1.5;
}