.app-table__main-conteiner {
    display: flex;
    min-width: 250px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
}

.app-table__maintext {
    display: block;
}

.app-table__search-conteiner {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: flex-start;
    width: 90%;
}

.app-table__search {
    display: flex;
    flex-direction: row;
}

.app-table__search-button-conteiner {
    display: block;
}

.app-table__search-lable {
    margin-bottom: 0px;
    margin-right: 10px;
    line-height: 30px;
    margin-top: 5px;
}

.app-table__search-input {
    width: 250px;
    height: 30px;
    margin-top: 5px;
}

.app-table__search-button {
    height: 30px;
    line-height: 30px;
    width: 100px;
    margin-left: 10px;
    margin-top: 5px;
    margin-right: 5px;
    text-align: center;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    color: white;
    border: none;
    outline: none;
    cursor: pointer;
}

.app-table__search-button_green {
    background-color: green;
}

.app-table__search-button_green:hover {
    background-color: #4a8e4a;
}

.app-table__search-button_green:active {
    background-color: #2f5e2f;
}

.app-table__search-button_blue {
    background-color: #006dcc;
}

.app-table__search-button_blue:hover {
    background-color: #0088cc;
}

.app-table__search-button_blue:active {
    background-color: #0044cc;
}

.app-table__data-base-conteiner {
    overflow-y: auto;
    height: 442px;
    width: 100%
}

.app-table__data-base {
    width: 90%;
    margin: 0 auto;
    border-collapse: collapse;
}

.app-table__data-base-header {
    background-color: #1976d2;
    color: white;
    text-align: center;
    border: 1px solid black;
}

.app-table__data-base-td {
    padding: 3px;
    border: 1px solid black;
    overflow-wrap: break-word;
}

.app-table__data-base-tr:first-child {
    background: white;
    /* Цвет фона */
}

.app-table__data-base-button-conteiner {
    display: table-cell;
}

.app-table__data-base-button-conteiner:hover {
    background-color: white;
}

.app-table__data-base-tr:hover {
    background-color: #1976d2;
    color: white;
}


/*.app-table__data-base-tr:nth-child(odd) {
    background: #666;
   
}*/

.app-table__data-base-button-edit {
    height: 30px;
    line-height: 30px;
    width: 30px;
    margin: 0 auto;
    text-align: center;
    border-radius: 5px;
    color: #f89406;
    border: none;
    outline: none;
    cursor: pointer;
}

.app-table__data-base-button-edit:hover {
    border: 1px solid #faa732
}

.app-table__data-base-button-edit:active {
    border: 2px solid #ad6704;
}

.app-table__data-base-button-delete {
    height: 30px;
    line-height: 30px;
    width: 30px;
    margin: 0 auto;
    text-align: center;
    border-radius: 5px;
    color: red;
    border: none;
    outline: none;
    cursor: pointer;
}

.app-table__data-base-button-delete:hover {
    border: 1px solid red;
}

.app-table__data-base-button-delete:active {
    border: 1px solid red;
}