.app-table-main-conteiner {
    display: flex;
    min-width: 250px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
}

.app-table-maintext {
    display: block;
}

.app-table-search-conteiner {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: flex-start;
    width: 90%;
}

.search {
    display: flex;
    flex-direction: row;
}

.search-button-conteiner {
    display: block;
}

.search-lable {
    margin-bottom: 0px;
    margin-right: 10px;
    line-height: 30px;
    margin-top: 5px;
}

.search-input {
    width: 250px;
    height: 30px;
    margin-top: 5px;
}

.search-button {
    height: 30px;
    line-height: 30px;
    width: 100px;
    margin-left: 10px;
    margin-top: 5px;
    margin-right: 5px;
    text-align: center;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    color: white;
    border: none;
    outline: none;
    cursor: pointer;
}

.search-button--search {
    background-color: green;
}

.search-button--search:hover {
    background-color: #4a8e4a;
}

.search-button--search:active {
    background-color: #2f5e2f;
}

.search-button--return {
    background-color: #006dcc;
}

.search-button--return:hover {
    background-color: #0088cc;
}

.search-button--return:active {
    background-color: #0044cc;
}

.app-table-data-base-conteiner {
    overflow-y: auto;
    height: 442px;
    width: 100%
}

.data-base {
    width: 90%;
    margin: 0 auto;
    border-collapse: collapse;
}

.data-base-header {
    background-color: #1976d2;
    color: white;
    text-align: center;
    border: 1px solid black;
}

.data-base-td {
    padding: 3px;
    border: 1px solid black;
    overflow-wrap: break-word;
}

.data-base-button-conteiner {
    display: table-cell;
}

.data-base-button-conteiner:hover {
    background-color: white;
}

.data-base-tr:hover {
    background-color: #1976d2;
    color: white;
}

.data-base-button-edit {
    height: 30px;
    line-height: 30px;
    width: 30px;
    margin: 0 auto;
    text-align: center;
    border-radius: 5px;
    color: #f89406;
    border: none;
    outline: none;
    cursor: pointer;
}

.data-base-button-edit:hover {
    border: 1px solid #faa732
}

.data-base-button-edit:active {
    border: 2px solid #ad6704;
}

.data-base-button-delete {
    height: 30px;
    line-height: 30px;
    width: 30px;
    margin: 0 auto;
    text-align: center;
    border-radius: 5px;
    color: red;
    border: none;
    outline: none;
    cursor: pointer;
}

.data-base-button-delete:hover {
    border: 1px solid red;
}

.data-base-button-delete:active {
    border: 1px solid red;
}