
<h3 *ngIf="searchState == 'default'">Clients Data Base</h3>
<h3 *ngIf="searchState == 'search'">Result of Search</h3>

<label for="">Search</label>
<input type="text" name="search" value="" [(ngModel)]="searchName">

<button (click)="searchClient()">Search Client</button>
<button *ngIf="searchState == 'search'" (click)="returnBase()">Return to Base</button>
<!--<button (click)="TESTTABLE()">TESTTABLE</button>-->
<br>
<br>

<table class="data-base" *ngIf="searchState == 'default'">
    <tr>
        <th></th>
        <th class="data-base-td">Name</th>
        <th class="data-base-td">Phone</th>
        <th class="data-base-td">Address</th>
        <th class="data-base-td">Email</th>
        <th></th>
    </tr>

    <tr class="data-base-tr" *ngFor="let item of listClients">
        <td><button (click)="editeClient(item.getId)">Edite Client</button></td>
        <td class="data-base-td">{{item.getName}}</td>
        <td class="data-base-td">{{item.getPhone}}</td>
        <td class="data-base-td">{{item.getAddress}}</td>
        <td class="data-base-td">{{item.getEmail}}</td>
        <td><button (click)="deleteClient(item.getId)">Delete Client</button></td>
    </tr>
</table>

<table *ngIf="searchState == 'search'" class="data-base">
    <tr>
        <th></th>
        <th class="data-base-td">Name</th>
        <th class="data-base-td">Phone</th>        
        <th class="data-base-td">Address</th>
        <th class="data-base-td">Email</th>
        <th></th>
    </tr>

    <tr class="data-base-tr" *ngFor="let item of searchArray">
        <td><button (click)="editeClient(item.getId)">Edite Client</button></td>
        <td class="data-base-td">{{item.getName}}</td>
        <td class="data-base-td">{{item.getPhone}}</td>
        <td class="data-base-td">{{item.getAddress}}</td>
        <td class="data-base-td">{{item.getEmail}}</td>
        <td><button (click)="deleteClient(item.getId)">Delete Client</button></td>
    </tr>
</table>