<div class="table">

    <h2 *ngIf="searchState == 'default'">Clients Data Base</h2>
    <h2 *ngIf="searchState == 'search'">Result of Search</h2>
    <br>
    <div class="table-search-conteiner">
        <label class="table-lable-search" for="search">Search</label>
        <input id="search" class="table-input-search" type="text" name="search" value="" [(ngModel)]="searchName">
        <button class="table-button table-button--search" (click)="searchClient()">
           <span class="glyphicon glyphicon-search"></span> 
            Search</button>
        <button class="table-button table-button--return" *ngIf="searchState == 'search'" (click)="returnBase()">
          <span class="glyphicon glyphicon-repeat"></span>  
            Return</button>
    </div>
    <br>
    <br>

    <div class="data-base-conteiner">
        <table class="data-base" *ngIf="searchState == 'default'">
            <tr>
                <th></th>
                <th class="data-base-header">Name</th>
                <th class="data-base-header">Phone</th>
                <th class="data-base-header">Address</th>
                <th class="data-base-header">Email</th>
                <th></th>
            </tr>
            <tr class="data-base-tr" *ngFor="let item of listClients">
                <td class="data-base-button-conteiner">
                    <div class="data-base-button-edit" (click)="editeClient(item.getId)">
                        <span class="glyphicon glyphicon-edit"></span>
                    </div>
                </td>
                <td class="data-base-td">{{item.getName}}</td>
                <td class="data-base-td">{{item.getPhone}}</td>
                <td class="data-base-td">{{item.getAddress}}</td>
                <td class="data-base-td">{{item.getEmail}}</td>
                <td class="data-base-button-conteiner">
                    <div class="data-base-button-delete" (click)="deleteClient(item.getId)">
                        <span class="glyphicon glyphicon-remove"></span>
                    </div>
                </td>
            </tr>
        </table>

        <table class="data-base" *ngIf="searchState == 'search'">
            <tr>
                <th></th>
                <th class="data-base-header">Name</th>
                <th class="data-base-header">Phone</th>
                <th class="data-base-header">Address</th>
                <th class="data-base-header">Email</th>
                <th></th>
            </tr>

            <tr class="data-base-tr" *ngFor="let item of searchArray">
                <td class="data-base-button-conteiner">
                    <div class="data-base-button-edit" (click)="editeClient(item.getId)">
                        <span class="glyphicon glyphicon-edit"></span>
                    </div>
                </td>
                <td class="data-base-td">{{item.getName}}</td>
                <td class="data-base-td">{{item.getPhone}}</td>
                <td class="data-base-td">{{item.getAddress}}</td>
                <td class="data-base-td">{{item.getEmail}}</td>
                <td class="data-base-button-conteiner">
                    <div class="data-base-button-delete" (click)="deleteClient(item.getId)">
                        <span class="glyphicon glyphicon-remove"></span>
                    </div>
                </td>
            </tr>
        </table>
    </div>