@media (max-width:1003px) {
    .conteiner_maintext {
        font-size: 32px;
    }

    .conteiner_discription {
        font-size: 20px;
    }
}

@media (max-width:683px) {
    .menu {
        margin-top: 0px;
        text-align: center;
    }

    .header__menu {
        line-height: 2;
        height: auto;
    }

    .lineInfo__conteiner {
        width: 90%;
    }
}