html, body {
    font-family: 'Open Sans', sans-serif;
    margin: 0 auto;
    height: 100%;
    
}
.main
{
    display: flex;
    flex-direction:column;
    justify-content:space-between;
    align-items:stretch;
    margin-left:4%;
    margin-right:4%;
    margin-top:3%;
}
.my-flex-container {
    display: flex;
    flex-direction:row;
    justify-content:space-between;
    align-items:stretch;
    flex-wrap:wrap;
    
}
.left 
{
    display: flex;
    flex-direction:column;
    justify-content:flex-start;
    align-items:stretch;
}
.sigma {
    font-size:34px;
    font-weight: 500;
    margin-bottom:8px;
}
.image
{
    font-size:16px;
    color: #888;
    font-weight: 500;
    line-height: 1.1;
    margin-top:10px;
}
.right {
    display: flex;
    flex-direction:row;
    justify-content:space-between;
    align-items:center;
    flex-grow:0.2;
    flex-wrap:wrap;
    padding-right:20px;
    padding-top:35px;
    float:left;
    color: #888;
    font-size:18px;
    font-weight: 500;
}


 a {
    color: rgba(0,0,0,0.3);
    
    text-decoration:none;
   }
   
   a:hover {
   text-decoration: none; 
   color: #676767 ;
    
   }
   .item{
       margin-left:5%;
   }

   .line-cont
   {
       margin-top:2%;
       
   }
.firstline {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url('image/tm-sigma-00.jpg');
    background-size:cover;
    min-height:600px;
}
.content
{
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    width:50%;
}

.sigma-home
{
    font-size: 50px; 
    font-weight: 500;
}

@media only screen and (max-width: 1330px)
{
    .sigma-home
    {
        font-size: 40px;
    }
}
@media only screen and (max-width: 800px)
{
    .sigma-home
    {
        font-size: 24px;
    }
}