.app-form-update__form {
    display: flex;
    min-width: 250px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
}

.app-form-update__form-name {
    display: block;
}

.app-form-update__form-lable {
    display: inline-block;
}

.app-form-update__form-input {
    width: 250px;
    height: 30px;
}

.app-form-update__forma-button-conteiner {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.app-form-update__form-button {
    height: 45px;
    line-height: 45px;
    width: 130px;
    margin: 10px;
    text-align: center;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    color: white;
    border: none;
    outline: none;
    cursor: pointer;
}

.app-form-update__form-button_orange {
    background-color: #f89406;
}

.app-form-update__form-button_orange:hover {
    background-color: #faa732;
}

.app-form-update__form-button_orange:active {
    background-color: #ad6704;
}

.app-form-update__form-button_blue {
    background-color: #006dcc;
}

.app-form-update__form-button_blue:hover {
    background-color: #0088cc;
}

.app-form-update__form-button_blue:active {
    background-color: #0044cc;
}

.app-form-update__form-attention {
    font-size: 10px;
    margin-bottom: -20px;
}

.app-form-update__form-input_inValid {
    border: 2px solid red;
}

.app-form-update__form-input_valid {
    border: 2px solid green;
}

.app-form-update__form-attention_hidden {
    visibility: hidden;
}

.app-form-update__form-attention_visible {
    visibility: visible;
    color: red;
}