<div class="app-form-update__form">
    <h2 class="app-form-update__form-name">Form Update Client</h2>
    <label class="app-form-update__form-lable" for="name">Name</label>
    <input class="app-form-update__form-input" id="name" #name type="text" name="name" [value]="editeClientForm.getName" [class.app-form-update__form-input_inValid]="inValid" [class.app-form-update__form-input_valid]="valid">
    <div class="app-form-update__form-attention" [class.app-form-update__form-attention_hidden]="hiddenAttention" [class.app-form-update__form-attention_visible]="showAttention">*required field</div>
    <br>
    <label class="app-form-update__form-lable" for="phone">Phone</label>
    <input class="app-form-update__form-input" id="phone" #phone type="text" name="phone" [value]="editeClientForm.getPhone">
    <br>
    <label class="app-form-update__form-lable" for="address">Address</label>
    <input class="app-form-update__form-input" id="address" #address type="text" name="address" [value]="editeClientForm.getAddress">
    <br>
    <label class="app-form-update__form-lable" for="email">Email</label>
    <input class="app-form-update__form-input" id="email" #email type="text" name="email" [value]="editeClientForm.getEmail">
    <br>
    <div>
        <button class="app-form-update__form-button app-form-update__form-button_orange" (click)="updateClient(name.value, phone.value, address.value, email.value)">
                 <span class= " glyphicon glyphicon-retweet"></span>
                 Update Client</button>
        <button class="app-form-update__form-button app-form-update__form-button_blue" (click)="finishEdite()"> 
                 <span class= "glyphicon glyphicon-off"></span>
                Finish editing</button>
    </div>
</div>